@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'KARIXBY';
  src: local('KARIXBY', url("./assets/fonts/KARIXBY-Outline.otf") format('otf'))
}

@layer components {
  .neon-text {
    @apply bg-pink-glow text-transparent bg-clip-text
  }
}

html {
  @apply h-screen;
}

body {
  @apply h-screen;
}

body,
html {
  overflow: hidden;
}
